In [3]:
import pandas as pd

In [4]:
df = pd.read_pickle("nash2cards.pkl")

In [5]:
df

                  call      fold     raise  counter
['SK', 'SQ']  0.497040  0.458567  0.044393       36
['SK', 'SJ']  0.532441  0.398701  0.068858       45
['SK', 'ST']  0.650531  0.289606  0.059862       19
['SK', 'S9']  0.587687  0.359029  0.053283       26
['SK', 'S8']  0.551013  0.379680  0.069307       41
...                ...       ...       ...      ...
['C4', 'C2']  0.409054  0.562346  0.028600       32
['C4', 'CA']  0.386816  0.580734  0.032450       39
['C3', 'C2']  0.467119  0.496304  0.036577       29
['C3', 'CA']  0.437641  0.535399  0.026960       36
['C2', 'CA']  0.476936  0.505793  0.017272       34

[1326 rows x 4 columns]

In [6]:
summe = sum(df["counter"])
print("Anzahl gespielter Spiele",summe)

Anzahl gespielter Spiele 40042

In [7]:
df.dtypes

call       float64
fold       float64
raise      float64
counter      int64
dtype: object