In [23]:
import pandas as pd

In [36]:
df = pd.read_pickle("nash2cards.pkl")

In [37]:
df

              call  fold  raise  counter
['SK', 'SQ']     1     0      0        0
['SK', 'SJ']     1     0      0        0
['SK', 'ST']     1     0      0        0
['SK', 'S9']     1     0      0        0
['SK', 'S8']     1     0      0        0
...            ...   ...    ...      ...
['C4', 'C2']     1     0      0        0
['C4', 'CA']     1     0      0        0
['C3', 'C2']     1     0      0        0
['C3', 'CA']     1     0      0        0
['C2', 'CA']     1     0      0        0

[1326 rows x 4 columns]

In [38]:
summe = sum(df["counter"])
print("Anzahl gespielter Spiele",summe)

Anzahl gespielter Spiele 0